<%= form_for [@user, @band, @event, @finance] do |f| %>
  <tr>
    <td><span class="select"><%=f.select :concept_type, ["Receive", "Expense"], class:"input" %></span></td>
    <td><%=f.text_field :concept, placeholder:"Crew Buy out", class:"input" %></td>
    <td><%= f.text_field :amount, placeholder:"100", class:"input" %></td>
    <td><%= f.submit 'Save', class:"button is-primary" %></td>
  </tr>
<% end %>