<section class="is-window-centered">
  <div class="hero-content">
    <div class="columns">
      <div class="column is-half is-offset-quarter">
        <h1 class="title is-text-centered">
          Sign up
        </h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <p class="control">
          <%= f.label :name, class:'title is-5' %><br />
          <%= f.text_field :name, autofocus: true, class:"input is-margin-bottom"  %>
        </p>

        <p class="control">
          <%= f.label :email, class:'title is-5' %><br />
          <%= f.email_field :email, autofocus: true, class:"input is-margin-bottom"  %>
        </p>

        <p class="control">
          <%= f.label :password, class:'title is-5' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:"input is-margin-bottom"  %>
        </p>

        <p class="control">
          <%= f.label :password_confirmation, class:'title is-5' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"input is-margin-bottom"  %>
        </p>

        <div class="actions">
          <%= f.submit "Sign up", class:"button is-primary is-fullwidth" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</section>
