<!-- Main container -->
<nav class="navbar">
  <!-- Left side -->
  <div class="navbar-left">
    <div class="navbar-item">
      <p class="title is-3 is-text-bold">
        <%=@band.name %> events
      </p>
    </div>
  </div>

  <!-- Right side -->
  <div class="navbar-right">
    <p class="navbar-item"><a js-data="events-all" class="is-active">All(<%=@events.count %>)</a></p>
    <p class="navbar-item"><a js-data="events-ontour">On Tour(<%= @events.on_tour %>)</a></p>
    <p class="navbar-item"><a js-data="events-expired">Expired(<%= @events.expired %>)</a></p>
    <p class="navbar-item">
    	<a class="button is-primary" href="<%= new_user_band_event_path %>">
    		<i class="fa fa-plus"></i>
    		New
    	</a>
    </p>
  </div>
</nav>
