<section class="hero is-left">
  <div class="hero-content is-gradient">
    <div class="container is-fluid">
      <h1 class="title is-1 artist-page-title">
        <%=@band.name%>
      </h1>
      <h3 class="title is-3 artist-page-title">
      	@<%= get_venue(@event.venue_id).name %>
      </h3>
    </div>
  </div>
</section>
<div class="container">
  <div class="columns is-wrap is-columns-margin">	
  	<div class="column is-4">
  		
  			<%= image_tag @event.image %>
 			<% if @event.completed == false %>
 			<p class="control">
				<a class="button is-success is-fullwidth" data-method="PATCH" data-confirm="Are you sure?" href=<%="#{user_band_event_path}"%>>
	      	Close Event
	      </a>
    	</p>
			<% end %>
			<p class="control">
	      <a class="button is-danger is-fullwidth" data-method="DELETE" data-confirm="Are you sure?" href=<%="#{user_band_event_path}"%>>
	      	Delete Event
	      </a>
	    </p>
  	</div>
  	<div class="column is-8">
	  		<div id="venue-tab" class="column">
					<ul class="content">
				    <li>
				    	<strong>Venue: </strong><%=get_venue(@event.venue_id).name %>
				    </li>
				    <li>
				    	<strong>Address: </strong>
				    	<%=get_venue(@event.venue_id).address + ', ' + get_venue(@event.venue_id).city %>
				    </li>
				    <li>
				    	<strong>Contact: </strong>
				    	<%= get_venue(@event.venue_id).contact_name %>
				    </li>
						<li>
				    	<strong>Phone Number: </strong>
				    	<%= get_venue(@event.venue_id).phone || "Not phone number yet" %>
				    </li>
				    <li>
				    	<strong>Email: </strong>
				    	<%= get_venue(@event.venue_id).email || "Not email yet" %>
				    </li>
					</ul>
				</div>
				<hr>
				<div id="finances-tab" class="column">
					<table class="table">
					  <thead>
					    <tr>
					      <th>Type</th>
					      <th>Concept</th>
					      <th>Amount</th>
					      <th>Actions</th>
					    </tr>
					  </thead>
					  <tfoot>
					  <tbody>
							<%= render partial:'finances/index', collection: get_finance(@event.id), as: :finance %>
							<%if @event.completed == false %>
								<%= render 'finances/new' %>
							<% end %>
  					</tbody>
					</table>
  			</div>
  			<hr>
  	</div>	
  	</div>
  </div>
 </div>