<section class="hero is-left">
  <div class="hero-band-background is-hero-band-image" style="background-image:url(<%= @event.image.url %>")></div>
  <div class="hero-band-background is-hero-band-gradient is-gradient"></div>
  <div class="hero-content">
    <div class="container is-fluid">
    	<div class="columns">
    		<div class="column is-1">
    			<h1 class="title is-1 artist-page-title">
		        <%=@event.date.strftime("%d")%>
		      </h1>
		      <h3 class="title is-3 artist-page-title">
		      	<%= @event.date.strftime("%b") %>
		      </h3>
    		</div>
    		<div class="column">
		      <h1 class="title is-1 artist-page-title">
		        <%=@band.name%>
		      </h1>
		      <h3 class="title is-3 artist-page-title">
		      	@<%= get_venue(@event.venue_id).name %>
		      </h3>
		    </div>
    </div>
  </div>
  </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="columns is-wrap is-columns-margin">
  	<div class="column is-3">
  			<%= image_tag @event.image %>
 			<% if !@event.completed %>
 			<p class="control">
        <%= button_to 'Update Event', edit_user_band_event_path, method: 'get',class:'button is-primary is-fullwidth' %>
	    </p>
      <p class="control">
				<a class="button is-success is-fullwidth" data-method="GET" data-confirm="Are you sure?" href="<%= user_band_event_close_event_path(event_id: params[:id]) %>">
	      	Close Event
	      </a>
    	</p>
			<% end %>
			<p class="control">
	      <a class="button is-danger is-fullwidth" data-method="DELETE" data-confirm="Are you sure?" href=<%="#{user_band_event_path}"%>>
	      	Delete Event
	      </a>
	    </p>
  	</div>
  	<div class="column is-9">
	  		<div id="venue-tab" class="column">
	  			<h1 class="title is-3">Venue info:</h3>
					<ul class="content">
				    <li>
				    	<strong>Venue: </strong><%= @venue.name %>
				    </li>
				    <li>
				    	<strong>Address: </strong>
				    	<%= @venue.address + ', ' + @venue.city %>
				    </li>
				    <li>
				    	<strong>Contact: </strong>
				    	<%= @venue.contact_name %>
				    </li>
						<li>
				    	<strong>Phone Number: </strong>
				    	<%= @venue.phone || "Not phone number yet" %>
				    </li>
				    <li>
				    	<strong>Email: </strong>
				    	<%= @venue.email || "Not email yet" %>
				    </li>
					</ul>
				</div>
				<hr>
				<div id="finances-tab" class="column">
					<h1 class="title is-3">Finances:</h3>
					<table class="table" js-data='table-finances'>
					  <thead>
					    <tr>
					      <th>Type</th>
					      <th>Concept</th>
					      <th>Amount</th>
					      <th>Actions</th>
					    </tr>
					  </thead>
					  <tbody>
							<%= render partial:'finances/index', collection: get_finance(@event.id), as: :finance %>
							<%if !@event.completed %>
                <tr>
								<%= render 'finances/new' %>
                </tr>
              <% end %>
  					</tbody>
					</table>
  			</div>
  			<hr>
  			<div id="members-tab" class="column">
  				<h1 class="title is-3">Band Members:</h3>
  				<table class="table">
					  <thead>
					    <tr>
					      <th>Name</th>
					      <th>Instrument</th>
					      <th>Gear</th>
					      <th>Vegetarian?</th>
					    </tr>
					  </thead>
					  <tbody>
							<%= render partial: 'members', collection: @members, as: :members %>
					  </tbody>
					</table>
  			</div>
  	</div>
  	</div>
  </div>
 </div>
