<section class="hero is-left">
  <div class="hero-band-background is-hero-band-image" style="background-image:url(<%= @venue.image.url %>")></div>
  <div class="hero-band-background is-hero-band-gradient is-gradient"></div>
  <div class="hero-content">
    <div class="container is-fluid">
      <h1 class="title is-1 artist-page-title">
        <%=@venue.name%>
      </h1>
    </div>
  </div>
</section>
<div class="container">
  <div class="columns is-wrap is-columns-margin">	
  	<div class="column is-4">
  		<%= image_tag @venue.image %>
      <p class="control">
        <a class="button is-success is-fullwidth">Update Picture</a>
      </p>
      <p class="control"> 
        <a class="button is-danger is-fullwidth" data-method="DELETE" data-confirm="Are you sure?" href=<%="#{user_venue_path}"%>>Delete</a>
      </p>
  	</div>
  	<div class="column is-8">
  		<div class="content">
        
        <h1 class="title is-3" data-js="address-content">
          Address
          <i data-js="address" class="fa fa-pencil is-update-content-button"></i>
        </h1>
        <p data-js="address"><%= @venue.address %></p>
      </div>
      <hr>
      <div class="content">
        <h1 class="title is-3" data-js="cache-content">
          Cache
          <i data-js="cache" class="fa fa-pencil is-update-content-button"></i>
        </h1>
        <p data-js="cache"><%= @venue.cache %> €</p>
      </div>
      <hr>
      <div class="content">
        <h1 class="title is-3" data-js="contact-content">
          Contact name:
          <i data-js="contact" class="fa fa-pencil is-update-content-button"></i>
        </h1>
        <p data-js="contact"><%= @venue.contact_name %></p>
      </div>
      <hr>
  	</div>
  </div>
</div>
