<% if @errors %>
			<%= flash_message %>
		<ul>
			<% @errors.each do |error|%>
			<li class=""><%= error %></li>
			<% end %>
		</ul>
<% end %>

<%= form_for [@user, @band] do |f| %>
	<p class="control">
		<%= label_tag(:name, "Band name:", class:'title is-5') %>
		<%=f.text_field :name, placeholder:"The Go-Betweens", class:"input" %>
	</p>
	<p class="control">
		<%= label_tag(:description, "Description:", class:'title is-5') %>
		<%=f.text_field :description, placeholder:"Description (max. 500char.)", class:"textarea" %>
	</p>
	<p class="control">
		<%= label_tag(:cache, "Cache:", class:'title is-5') %>
		<%= f.text_field :cache, placeholder:"1000", class:"input" %>
	</p>
	<p class="control">
		<%= label_tag(:image, "Profile Image:", class:'title is-5') %>
		<%= f.file_field :image, class:"input" %>
	</p>
	<p class="control">
		<%= f.submit 'Save', class:"button is-primary is-fullwidth" %>
	</p>
<% end %>