<% if @errors %>
			<%= flash_message %>
		<ul>
			<% @errors.each do |error|%>
			<li class="">
				<%= error %>
			</li>
			<% end %>
		</ul>
<% end %>

<%= form_for [current_user, @band] do |f| %>
	<p class="control">
		<%= label_tag(:name, "Band name:", class:'title is-5') %>
		<%=f.text_field :name, placeholder:"The Go-Betweens", class:"input" %>
	</p>
	<p class="control">
		<%= label_tag(:description, "Description:", class:'title is-5') %>
		<%=f.text_area :description, placeholder:"Description (max. 500char.)", class:"textarea" %>
	</p>
	<p class="control">
		<%= label_tag(:cache, "Cache:", class:'title is-5') %>
		<%= f.text_field :cache, placeholder:"1000", class:"input" %>
	</p>
	<p class="control">
		<%= label_tag(:comission, "Management Comission %:", class:'title is-5') %>
		<%= f.text_field :comission, placeholder:"10", class:"input" %>
	</p>
	<p class="control">
		<%= label_tag(:image, "Profile Image:", class:'title is-5') %>
		<%= f.file_field :image, class:"button" %>
	</p>
	<hr>
	<h3 class="title is-3">Band Members:</h3>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Instrument</th>
	      <th>Gear</th>
	      <th>Special Food?</th>
	    </tr>
	  </thead>
	  <tbody>
			<%= f.fields_for :members, Member.new do |member| %>
				<tr>
			    <td><%= member.text_field :name, placeholder:"John Doe", class:"input" %></td>
			    <td><%=member.text_field :instrument, placeholder:"Rickenbacker 4003", class:"input" %></td>
			    <td><%= member.text_field :gear, placeholder:"Sinmarc 2x10 1969", class:"input" %></td>
			    <td><%= member.check_box :special_food, class: "checkbox" %></td>
		  	</tr>
			<% end %>
		</tbody>
	</table>
	<p class="control">
		<%= f.submit 'Save', class:"button is-primary is-fullwidth" %>
	</p>
<% end %>