<div class="container">
	<div class="columns is-wrap">
		<div class="column is-11">
	      <div class="heading">
	        <h1 class="title">Bands</h1>
	      </div>
	  </div>
	  <div class="column is-1">
			<a class="button is-primary" href=<%="#{new_user_band_path}"%>><i class="fa fa-plus"></i></a>
	  </div>
		<% @bands.each do |band| %>
			<div class="column is-4">
			<div class="card">
			  <figure class="card-image is-4x3">
			    <a href="<%=user_band_path(user_id:@user.id, id:band.id)%>"><%= image_tag band.image %></a>
			  </figure>
			  <div class="card-content">
			    <div class="media">
			      <div class="media-content">
			        <a href="<%=user_band_path(user_id:@user.id, id:band.id)%>"><p class="title is-4 is-text-bold"><%= band.name %></p></a>
			      </div>
			    </div>

			    <div class="content">
			      <p><%=band.description%></p>
			      <br>
			      <small>
			      	<div class="columns is-text-centered">
			      	<div class="column">
			      		<a href="<%=user_band_path(user_id:@user.id, id:band.id)%>"><i class="fa fa-cog"></i></a>
			      	</div>
			      	<div class="column">
			      		<a href="#"><i class="fa fa-calendar-o"></i></a>
			      	</div>	
			      	<div class="column">
			      		<a href="<%=user_band_products_path(band_id:band.id)%>"><i class="fa fa-archive"></i></a>
			      	</div>
			      	<div class="column">
			      		<a href="<%=user_band_finances_path(band_id:band.id)%>"><i class="fa fa-balance-scale"></i></a>
			      	</div>
			      </div>
			      </small>

			    </div>
			  </div>
			</div>
			</div>
		<% end %>
	</div>
</div>