<section class="hero is-left">
  <div class="hero-band-background is-hero-band-image" style="background-image:url(<%= @band.image.url %>")></div>
  <div class="hero-band-background is-hero-band-gradient is-gradient"></div>
  <div class="hero-content">
    <div class="container is-fluid" data-js="name-content">
      <h1 class="title is-1 artist-page-title" data-js="name">
        <%= @band.name %>
      </h1>
    </div>
  </div>
  <%= render 'menu' %>
</section>
<div class="container">
  <div class="columns is-wrap is-columns-margin">
  	<aside class="column is-3">
        <%= render partial: 'profile' %>
    </aside>
  	<section class="column is-9">
  		<div class="content">
        <h1 class="title is-3" data-js="description-content">
          Description
          <i data-js="description" class="fa fa-pencil is-update-content-button"></i>
        </h1>
        <p data-js="description"><%= @band.description %></p>
      </div>
      <hr>
      <h1 class="title is-3">Members</h1>
      <table class="table" js-data="members">
        <thead>
          <tr>
            <th>Name</th>
            <th>Instrument</th>
            <th>Gear</th>
            <th>Special food?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= render partial: 'members/index', collection: @band.members.all, as: :member %>
          </tr>
          <tr js-data="members-form">
            <%= render 'members/new' %>
          </tr>
        </tbody>
      </table>
  	</section>
  </div>
</div>
