<header class="header">
  <div class="container">
    <!-- Left side -->

    <div class="header-left">
      <%if !user_signed_in?%>
      <a class="header-item" href="/">
        <img src="/roster.svg" width="70"></img>
        <h1 class="title is-3 is-primary-color is-text-bold">Roster</h1>
      </a>
      <% end %>
      <%if user_signed_in?%>
      <a class="header-item" href=<%="#{user_bands_path(user_id: current_user.id)}"%>>
        <img src="/roster.svg" width="70"></img>
        <h1 class="title is-3 is-primary-color is-text-bold">Roster</h1>
      </a>
      <a class="header-tab bands" href=<%="#{user_bands_path(user_id: current_user.id)}"%>>Bands</a>
      <a class="header-tab events" href=<%="#{user_all_bands_events_path(user_id: current_user.id)}"%>>Events</a>
      <a class="header-tab venues" href=<%="#{user_venues_path(user_id: current_user.id)}"%>>Venues</a>
    <% end %>
    </div>
    <%if user_signed_in?%>
    <!-- Hamburger menu (on mobile) -->
    <span class="header-toggle">
      <span><a class="header-tab bands" href=<%="#{user_bands_path(user_id: current_user.id)}"%>>Bands</a></span>
      <span><a class="header-tab events" href=<%="#{user_all_bands_events_path(user_id: current_user.id)}"%>>Events</a></span>
      <span><a class="header-tab venues" href=<%="#{user_venues_path(user_id: current_user.id)}"%>>Venues</a></span>
    </span>
    <% end %>
    

    <!-- Right side -->
    <div class="header-right header-menu">
      <%if user_signed_in? %>
        <span class="header-item">
          <a><%= link_to "Settings", edit_user_registration_path %></a>
        </span>
        <span class="header-item">
          <a class="button is-outlined is-primary" data-method="DELETE" href=<%="#{destroy_user_session_path}"%>>Log out</a>
        </span>
      <% else %>
        <span class="header-item">
          <a><%= link_to "Sign Up", new_user_registration_path %></a>
        </span>
        <span class="header-item">
          <a class="button is-primary" href=<%="#{new_user_session_path}"%>>Log in</a>
        </span>
      <% end %>
    </div>
  </div>
</header>